body {
    margin: 0;
    padding: 0;
}

.node circle {
  fill: #00897B;
  stroke: #004D40;
  stroke-width: 3px;
}

.node text {
  font-size: 20px;
  fill: #FFF;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.tree-view {
    border: solid 1px #000;
}